<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">
            Por hacer!</h3>
        </div>
        <ul class="list-group">
          <a href="javascript:void(0);" ng-repeat="todo in todosPorHacer" ng-click="cambiarStatus(todo)" class="list-group-item">{{todo.description}}</a>
        </ul>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">
            Listos!</h3>
        </div>
        <ul class="list-group">
          <a href="javascript:void(0);" ng-repeat="todo in todosListos" ng-click="cambiarStatus(todo)" class="list-group-item">{{todo.description}}</a>
        </ul>
      </div>
    </div>
  </div>
</div>
