<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">
            Por hacer!</h3>
        </div>
        <ul class="list-group">
          <a href="#" ng-repeat="todo in todos" class="list-group-item">{{todo}}</a>
        </ul>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">
            Listos!</h3>
        </div>
        <ul class="list-group">
          <!-- <a href="#" class="list-group-item">Cras justo odio</a>
          <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
          <a href="#" class="list-group-item">Morbi leo risus</a>
          <a href="#" class="list-group-item">Porta ac consectetur ac</a>
          <a href="#" class="list-group-item">Vestibulum at eros</a> -->
        </ul>
      </div>
    </div>
  </div>
</div>
