<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">
            Por hacer!</h3>
        </div>
        <ul class="list-group">
          <li ng-repeat="todo in todosPorHacer">
            <a href="javascript:void(0);"  ng-click="cambiarStatus(todo)" class="list-group-item">{{todo.description}} || {{todo.geoPos.coords.latitude}} {{todo.geoPos.coords.longitude}}</a>
            <a href="javascript:void(0);"  ng-click="eliminarStatus(todo.id)" class="btn btn-lg btn-primary btn-block">X</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">
            Listos!</h3>
        </div>
        <ul class="list-group">
          <li ng-repeat="todo in todosListos">
            <a href="javascript:void(0);"  ng-click="cambiarStatus(todo)" class="list-group-item">{{todo.description}} || {{todo.geoPos.coords.latitude}} {{todo.geoPos.coords.longitude}}</a>
            <a href="javascript:void(0);"  ng-click="eliminarStatus(todo.id)" class="btn btn-lg btn-primary btn-block">X</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
